body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
  font-weight: 400px;
}
.name-highlighter {
  color: orange;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.mg-t {
  margin-top: 150px;
}
.half-width img {
  width: 100%;
}
/* .top-banner-img {
  background: url("top-banner.png");
  background-repeat: no-repeat;
} */
section {
  height: 750px;
}
.hire-btn {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(to right, lightsalmon, tomato);
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 5px;
}
.dream-area {
  margin-top: 100px;
  background: url(dream-bg.png) no-repeat;
  background-position: right;
}
.details-area {
  margin-top: 150px;
}
.box-shaow {
  height: 400px;
  box-shadow: 5px 5px 5px gray;
}
.box-border1 {
  border-left: 10px solid lightsalmon;
}
.box-border2 {
  border-left: 10px solid tomato;
}
